<p>
Beste Katrien,
</p>

<p>
In jullie huis is het momenteel ${status.currentTemperature} graden. <br/>
De thermostaat staat op ${status.targetTemperature} graden, dus de verwarming staat af. <br/>
</p>
<p>
Goed bezig!
</p>

<p>
Met vriendelijke groet,<br/>
Uw huisbewaker.
</p>